.home-page header{
    height: 70px;
    background-color: #DB2525;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.menu-header a{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 13px;
    font-weight: 700;
    color:#fff  
}

.list-menu-header, .action-header, .shoping-card, .sign-in-btn{
    display: flex;
    align-items: center;
    gap: 2px;
}

.action-header .search-btn{
    margin-right: 20px;
    transform: scaleX(-1);
    font-size: 30px;
}

.list-menu-header li{
    margin-left: 20px;
}
.list-menu-header a p {
    letter-spacing: -0.5px; 
  }

.sign-in-btn{
    margin-left: 20px;

}

.action-header p{
    font-size: 13px;
    font-weight: 700;
    color:#fff  ;
    letter-spacing: -0.5px; 

}