:root {
    --main-color: #DB2525;
  }

li {
    list-style-type: none;
}


/*header   */
.home-page{
    background-color: #f8f8f8;
    position: relative;

}



/* main css */
.container{
    background-color: #fff;
    max-width: 1350px;
    margin: auto;
    box-shadow: rgb(207, 220, 231) 0px 1px 2px 0px
}

.hot-line{
    z-index: 9999;
    margin: 0 auto;
    border-radius: 50px;
    background: #1a1919;
    left: 3%;
    top: 75%;
    color: #fff;
    max-width: 180px;
    padding: 16px 14px 16px 55px;
    text-align: center;
    position: fixed;
    font-size: 14px;
}

.hot-line-icon{
    width: 50px;
    height: 50px;
    top: -2px;
    left: -1px;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    background-color: #dd3333;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out
}

.phone-icon{
    width: 50px;
    height: 50px;
    background: url(../../Assets/image/button-phone.png) no-repeat center center;
}

.wave-anima{
    width: 80px;
    height: 80px;
    top: -15px;
    left: -15px;
    position: absolute;
    background-color: #000;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.wave-anima1{
    width: 130px;
    height: 130px;
    top: -40px;
    left: -40px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30,30,30,.4);
    opacity: 1;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    transform-origin: 50% 50%;
}

@keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes quick-alo-circle-fill-anim{
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
    }
    
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
    }
}

@keyframes quick-alo-circle-anim{
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: 0.3;
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: 0.7;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.3;
    }
}