.footer{
    background-color: #BF2B2B;
    color: #fff;
    padding: 10px;
    transform: translateY(20px);
}

.footer-list{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.footer-list ul {
    margin-bottom: 0;
}

.footer-item-title{
    margin-left: 40px;
    font-size: 14px;
    font-weight: 700;
}

.footer-item{
    width: 25%;
}

.footer-item ul{
    font-size: 13px;
}

.footer-item a{
    font-size: 13px;
    color: #fff;
   
}

.footer-item i{
    margin-right: 10px;
}

.list-payment{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .footer-list{
        flex-wrap: wrap;
    }

    .footer-item{
        flex: 0 0 auto;
        width: 50%;
    }
  }

  .footer{
    transform: translateY(25px);
}
  

/* Điện thoại di động */
@media (max-width: 767px) {
    /* CSS dành cho màn hình nhỏ hơn 767px */
    .footer-list{
        flex-wrap: wrap;
    }

    .footer-item{
        flex: 0 0 auto;
        width: 100%;
    }

    .footer{
        transform: translateY(25px);
    }
  
}