:root {
    --main-color: #DB2525;
  }

li {
    list-style-type: none;
}

.home-page{
    background-color: #fff ;
    position: relative;

}

.container{
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
    box-shadow: none !important;
    margin-top: 70px;

}

.wrapper{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
}

.main-content{
    width: 70%;
    flex: 0 0 auto;
}



.detail-product-img{
    text-align: center;
    padding: 5px 30px;
    background: #fff;
    border-radius: 15px;
    max-width: 320px;
    min-height: 320px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    color: #5e5e5e;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 100%;
    
}

.detail-product-img img{
    width: 100%;
}

.detail-product{
    display: flex;
}

.detail-info{
    width: 100%;
}

.detail-info h1{
    font: normal normal 34px / 44px "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: #5e5e5e;
    margin-top: 0;
}

.detail-info p{
    color: #e31616;
    font: normal 20px / 30px "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;

}

.detail-info ul{
    padding-left: 0;
}

.promotion{
    padding: 10px 16px;
    background: #fff;
    border-radius: 15px;
    max-width: 350px;
    min-height: 182px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    color: #5e5e5e;
    margin-right: 50px;
    width: 50%;

}

.header-promotion{
    background: #e31616;
    padding: 5px 20px;
    margin: -5px 0 0;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: start;
    align-items: center;

}

.header-promotion p{  
    margin: 0;
    padding: 2px;
}

.list-promotion ul {
    padding-left: 20px;
}

.list-promotion li {
    list-style-type: disc;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.detail-price{
    color: #e31616;
    font: normal 20px / 30px "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;

}

.sub-detail{
    display: flex;
}

.pay-now p{
    margin: 0;
}
.pay-now p span{
    font-size: 12px;
}

.pay-now button{
    
    color: #ffffff !important;
    width: 100%;
    margin-bottom: 10px;
}

.buy-product{
    width: 50%;
}

.side-bar{
    flex: 0 0 auto;
    margin-left: 20px;
    width: 30%;;
    color: #5e5e5e;
    border-radius: 15px;
    padding: 15px;
    font-size: 13px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;

}

.side-bar ul{
   padding-left: 0;

}

.side-bar ul li{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 6px;
 
 }

 .banner img{
    width: 100%;
    margin-top: 5px;
 }

/* ---------------------------------------------------------------------------------- */
/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    /* CSS dành cho màn hình từ 768px đến 1023px */
    .side-bar{
        display: none;
    }

    .main-content{
        width: 100%;
        flex: 0 0 auto;
    }
  }
  
  /* Điện thoại di động */
  @media (max-width: 767px) {
    .detail-product-img{
        margin-left: 40px;
        max-width: 300px;
        align-self: center;
    }
    
    .main-content{
        flex: 0 0 auto;
        width: 100%;
    }
    .side-bar{
        display: none;
    }

    

    
    .detail-product{
        flex-direction: column;
    }

    .detail-product-img{
        flex:  0 0 auto;
        width: 100%;
    }
    .detail-info, .promotion, .buy-product{
        flex:  0 0 auto;
        width: 100%;
    }

    .sub-detail{
        flex-direction: column;
    }
    
    .promotion{
        max-width: 350px;
        align-self: center;
        margin-bottom: 16px;
        margin-left: 45px
    }
    /* CSS dành cho màn hình nhỏ hơn 767px */
  }