.trending-banner{
    background: #fff;
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: rgb(60 64 67 ) 0px 1px 2px 0px;
    width: 300px;
    margin-right: 10px;
    margin-left: 27px;
}

.trending-title h2{
    margin: 6px 1px 1px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    color: #c84044;
    letter-spacing: -1px; 
    text-align: center;
    
}
.top-banner{
    justify-content: space-around;
    padding: 10px;
    padding-top: 80px;
}
.top-banner,.ads-banner{
    display: flex;
}

.ads-banner .banner-1{
    width: 670px;
    height: 393px;
    border-radius: 6px;
    margin-right: 10px;
}


.ads-banner .banner-2, .ads-banner .banner-3{
    width: 262px;
    height: 194px;
    border-radius: 6px;
}

.trending-body ul{
    padding-left: 0;
}

.trending-body li{
    display: flex;
    gap: 15px;
    border-top: 1px dashed #989898;
}

.trending-item .trending-item-desc{
    color: #989898;
    font-size: 12px;
    margin: 5px 0 0 0;
    line-height: 1.2;
}

.trending-item a{
    color: #5e5e5e;
    line-height: 1.3;
    font-size: 14px;
    letter-spacing: -0.5px; 
    font-weight: 500;
}
.trending-pos{
    text-align: left;
    font-weight: bold;
    color: #c84044;
    font-size: 14px;
    vertical-align: top;
}

.flash-sale-banner{
    background-color: #CD1A1A;
    border-radius: 10px;
    padding: 16px;
}

.flash-sale-title{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 16px ;
}

.flash-sale-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: auto

}

.flash-sale-item{
    padding: 5px 10px;
    background: #fff;
    border-radius: 15px;
    min-height: 320px;
    max-width: 204px;
    position: relative;
}

.flash-sale-item img{
    width: 204px;
    height: 244px;
}

.flash-sale-item p{
    text-align: center;
    margin: 6px 0 0;
    font-weight: 700;
    color: #5e5e5e;;
    letter-spacing: -0.5px;

}

.on-sale{
    top: 10px;
    left: 10px;
    min-height: 32px;
    min-width: 32px;
    padding: 7px;
    box-sizing: content-box;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 32px;
    background-color: #e1474d;
    position: absolute;
}