.trending-banner{
    background: #fff;
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: rgb(60 64 67 ) 0px 1px 2px 0px;
    width: 20%;
    margin-right: 10px;
    margin-left: 27px;
}

.trending-title h2{
    margin: 6px 1px 1px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    color: #c84044;
    letter-spacing: -1px; 
    text-align: center;
    
}
.top-banner{
    justify-content: space-around;
    padding: 10px;
    display: flex;
}
.ads-banner{
    display: flex;
    gap: 10px;
    width: 80%;
}

.ads-banner .banner-1{
    width: 100%;
    height: 393px;
    border-radius: 6px;
}

.sub-banner{
    width: 33.3333%;
}


.ads-banner .banner-2, .ads-banner .banner-3{
    width: 100%;
    height: 194px;
    border-radius: 6px;
}

.banner-1:hover{
    opacity: 0.7;
    cursor: pointer;
}

.trending-body ul{
    padding-left: 0;
}

.trending-body li{
    display: flex;
    gap: 15px;
    border-top: 1px dashed #989898;
}

.trending-item .trending-item-desc{
    color: #989898;
    font-size: 12px;
    margin: 5px 0 0 0;
    line-height: 1.2;
}

.trending-item a{
    color: #5e5e5e;
    line-height: 1.3;
    font-size: 14px;
    letter-spacing: -0.5px; 
    font-weight: 500;
}

.trending-item:hover a{
    color: #CD1A1A;
    font-weight: 700;
}


.trending-pos{
    text-align: left;
    font-weight: bold;
    color: #c84044;
    font-size: 14px;
    vertical-align: top;
}

.flash-sale-banner{
    background-color: #CD1A1A;
    border-radius: 10px;
    padding: 10px 16px 30px;
}

.flash-sale-title{
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 10px auto;
    
}

.flash-sale-title img{
  width: 100%;
  height: auto;
    
}


.flash-sale-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

.flash-sale-item{
    padding: 5px 10px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 16px;
    min-height: 320px;
    max-width: 204px;
    position: relative;
}

.flash-sale-item img{
    width: 100%;
    height: auto;
}

.flash-sale-item p{
    text-align: center;
    margin: 6px 0 0;
    font-weight: 700;
    color: #5e5e5e;;
    letter-spacing: -0.5px;

}

.on-sale{
    top: 10px;
    left: 10px;
    min-height: 32px;
    min-width: 32px;
    padding: 7px;
    box-sizing: content-box;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 32px;
    background-color: #e1474d;
    position: absolute;
}

/* ----------------------------------------------------------------- */
/* CSS cho tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .top-banner{
        display: flex;
        flex-direction:column-reverse;
    }
    .trending-banner {
        max-width: 700px;
        margin: 16px auto;
        width: 100%;
        
    }

    .ads-banner{
        width: 100%;
    }
  }
  
  /* CSS cho điện thoại di động */
  @media (max-width: 767px) {
    .top-banner{
        display: flex;
        flex-direction:column-reverse;
    }
    .trending-banner {
        max-width: 300px;
        margin: 16px auto;
        width: 100%; 
    }

    .ads-banner{
        width: 100%;
        flex-direction: column;
    }

    .banner-1{
        width: 100% !important;
    }

    .sub-banner{
        display: none;
    }
  }