.category{
    display: flex;
}

.icon-category h4{
    margin-left: 5px ;
    margin-right: 10px ;
}

.divider{
    border-bottom: 1px dashed red;
    width: 100%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.icon-category{
    display: flex;
}